<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>

<button (click)="showToaster()">
  Show Toaster
</button>
<!-- Accura Spray -->
<div class="row mt-4">
  <div class="row">
    <div class="col-md-4">
      <div id="container"></div>
    </div>
<!-- Heartbeat -->
    <div class="col-md-4">
      <div id="container1"></div>
    </div>
  </div>
<div class="row mt-4">
<!-- Inlet Temp -->
    <div class="col-md-4">
      <div id="container2"></div>
    </div>
    <div class="col-md-4">
      <div id="container3"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="container4"></div>
  </div>   
</div>

<!-- <div class="container-fluid py-25">
  <h1>Angular DF TS</h1>
  <div class="row mt-6">
    <div class="col-md-6" style="background-color:rgb(0, 208, 255);">
      <div id="chart-gauge1"></div>
    </div>
    <!-- <div class="col-6" >
      <div id="chart-gauge1"></div>
    </div> -->
  <!-- </div>
<!-- </div> -->
